/*
  1. Impede que o preenchimento e a borda afetem a largura do elemento. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Remove margens e preenchimentos padrão
  3. Redefine todas as bordas.
*/

*,
::after,
::before,
::backdrop,
::file-selector-button {
	box-sizing: border-box; /* 1 */
	/* margin: 0; */ /* 2 */
	padding: 0; /* 2 */
	border: 0 solid; /* 3 */
}

/*
  1. Usa uma altura de linha consistente e sensível em todos os navegadores.
  2. Impede ajustes no tamanho da fonte após mudanças de orientação no iOS.
  3. Usa um tamanho de tabulação mais legível.
  4. Usa a família de fontes `sans` configurada pelo usuário por padrão.
  5. Usa as configurações de recursos de fonte `sans` configuradas pelo usuário por padrão.
  6. Usa as configurações de variação de fonte `sans` configuradas pelo usuário por padrão.
  7. Desativa os destaques de toque no iOS.
*/

html,
:host {
	line-height: 1.5; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	tab-size: 4; /* 3 */
	font-family: var(
		--default-font-family,
		ui-sans-serif,
		system-ui,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji"
	); /* 4 */
	font-feature-settings: var(--default-font-feature-settings, normal); /* 5 */
	font-variation-settings: var(--default-font-variation-settings, normal); /* 6 */
	-webkit-tap-highlight-color: transparent; /* 7 */
}

/*
  Herda a altura da linha de `html` para que os usuários possam defini-la como uma classe diretamente no elemento `html`.
*/

body {
	line-height: inherit;
}

/*
  1. Adiciona a altura correta no Firefox.
  2. Corrige a herança da cor da borda no Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Redefine o estilo de borda padrão para uma borda sólida de 1px.
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
	border-top-width: 1px; /* 3 */
}

/*
  Adiciona a decoração de texto correta no Chrome, Edge e Safari.
*/

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

/*
  Remove o tamanho e o peso da fonte padrão para cabeçalhos.
*/

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
} */

/*
  Redefine os links para otimizar para estilização opt-in em vez de opt-out.
*/

a {
	color: inherit;
	-webkit-text-decoration: inherit;
	text-decoration: inherit;
}

/*
  Adiciona o peso de fonte correto no Edge e Safari.
*/

b,
strong {
	font-weight: bolder;
}

/*
  1. Usa a família de fontes `mono` configurada pelo usuário por padrão.
  2. Usa as configurações de recursos de fonte `mono` configuradas pelo usuário por padrão.
  3. Usa as configurações de variação de fonte `mono` configuradas pelo usuário por padrão.
  4. Corrige o dimensionamento ímpar da fonte `em` em todos os navegadores.
*/

code,
kbd,
samp,
pre {
	font-family: var(
		--default-mono-font-family,
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		"Liberation Mono",
		"Courier New",
		monospace
	); /* 4 */
	font-feature-settings: var(--default-mono-font-feature-settings, normal); /* 5 */
	font-variation-settings: var(--default-mono-font-variation-settings, normal); /* 6 */
	font-size: 1em; /* 4 */
}

/*
  Adiciona o tamanho de fonte correto em todos os navegadores.
*/

small {
	font-size: 80%;
}

/*
  Impede que os elementos `sub` e `sup` afetem a altura da linha em todos os navegadores.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
  1. Remove a indentação do texto do conteúdo da tabela no Chrome e Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Corrige a herança da cor da borda da tabela no Chrome e Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove as lacunas entre as bordas da tabela por padrão.
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
	border-collapse: collapse; /* 3 */
}

/*
  Usa o estilo de foco moderno do Firefox para todos os elementos focáveis.
*/

:-moz-focusring {
	outline: auto;
}

/*
  Adiciona o alinhamento vertical correto no Chrome e Firefox.
*/

progress {
	vertical-align: baseline;
}

/*
  Adiciona a exibição correta no Chrome e Safari.
*/

summary {
	display: list-item;
}

/*
  Torna as listas não estilizadas por padrão.
*/

ol,
ul,
menu {
	list-style: none;
}

/*
  1. Torna os elementos substituídos `display: block` por padrão. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Adiciona `vertical-align: middle` para alinhar os elementos substituídos de forma mais sensata por padrão. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
      Isso pode acionar um erro de lint mal considerado em algumas ferramentas, mas está incluído por design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* 1 */
	vertical-align: middle; /* 2 */
}

/*
  Restringe imagens e vídeos à largura do pai e preserva sua proporção intrínseca. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
	max-width: 100%;
	height: auto;
}

/*
  1. Herda estilos de fonte em todos os navegadores.
  2. Remove o raio da borda em todos os navegadores.
  3. Remove a cor de fundo em todos os navegadores.
  4. Garante opacidade consistente para estados desabilitados em todos os navegadores.
*/

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
	font: inherit; /* 1 */
	font-feature-settings: inherit; /* 1 */
	font-variation-settings: inherit; /* 1 */
	letter-spacing: inherit; /* 1 */
	color: inherit; /* 1 */
	/* border-radius: 0; 2 */
	background-color: transparent; /* 3 */
	opacity: 1; /* 4 */
}

/*
  Restaura o peso da fonte padrão.
*/

:where(select:is([multiple], [size])) optgroup {
	font-weight: bolder;
}

/*
  Restaura a indentação.
*/

:where(select:is([multiple], [size])) optgroup option {
	padding-inline-start: 24px;
}

/*
  Restaura o espaço após o botão.
*/

::file-selector-button {
	margin-inline-end: 4px;
}

/*
  1. Redefine a opacidade padrão do placeholder no Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
  2. Define a cor padrão do placeholder para uma versão semitransparente da cor do texto atual.
*/

::placeholder {
	opacity: 1; /* 1 */
	color: color-mix(in oklab, currentColor 50%, transparent); /* 2 */
}

/*
  Impede o redimensionamento horizontal de textareas por padrão.
*/

textarea {
	resize: vertical;
}

/*
  Remove o preenchimento interno no Chrome e Safari no macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*
  1. Garante que as entradas de data/hora tenham a mesma altura quando vazias no iOS Safari.
  2. Garante que o alinhamento do texto possa ser alterado nas entradas de data/hora no iOS Safari.
*/

::-webkit-date-and-time-value {
	min-height: 1lh; /* 1 */
	text-align: inherit; /* 2 */
}

/*
  Impede que a altura mude nas entradas de data/hora no macOS Safari quando a entrada é definida como `display: block`.
*/

::-webkit-datetime-edit {
	display: inline-flex;
}

/*
  Remove o preenchimento excessivo de pseudo-elementos em entradas de data/hora para garantir altura consistente em todos os navegadores.
*/

::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
	padding-block: 0;
}

/*
  Remove os estilos `:invalid` adicionais no Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/*
  Corrige a incapacidade de estilizar o raio da borda no iOS Safari.
*/

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
	appearance: button;
}

/*
  Corrige o estilo do cursor dos botões de incremento e decremento no Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/*
  Faz com que os elementos com o atributo HTML hidden permaneçam ocultos por padrão.
*/

[hidden]:where(:not([hidden="until-found"])) {
	display: none !important;
}
